@page "/"
@using Microsoft.AspNetCore.Components.Forms

<nav class="navbar">
    <div class="navbar-content">
        <!-- Logo na ponta esquerda -->
        <img src="img/logo.png" alt="Logo" class="navbar-logo" />

        <!-- Lista de navegação na direita -->
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/">Como funciona</a></li>
            <li><a href="/cadastro">Entrar</a></li>
        </ul>
    </div>
</nav>

<div class="card-container">
    <div class="cardcont" style="width: 18rem;">
        <img src="img/mine.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Aprenda programar com o Minecraft Education</h5>
           
            <a href="/minecraft" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="cardcont" style="width: 18rem;">
    <img src="img/robloc.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Aprenda programar com o Roblox</h5>
           
            <a href="/roblox" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

    <div class="cardcont" style="width: 18rem;">
    <img src="img/wxp.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Aprenda programar com Phyton</h5>
           
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> 
</div>


<div class="centered-image">
    <img class="img" src="img/comofunciona.png" alt="Logo" />
</div>




