@page "/minecraft"
@using Microsoft.AspNetCore.Components.Forms

<nav class="navbar">
    <div class="navbar-content">
        <!-- Logo na ponta esquerda -->
        <img src="img/logo.png" alt="Logo" class="navbar-logo" />

        <!-- Lista de navegação na direita -->
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/cadastro">Entrar</a></li>
        </ul>
    </div>
</nav>
<div class="title"> 
    <h1>Minecraft</h1>
</div>


<div class="card-container">
    <div class="cardcont3">
        <h5 class="card-title">
A programação com Minecraft é feita usando plataformas como Minecraft: Education Edition ou Mods como o Code Connection e o Blockly, que permitem a criação de scripts personalizados dentro do jogo</h5>
    </div>
</div>


<div class="card-container">
    <div class="cardcont" style="width: 18rem;">
        <img src="img/mine.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">APRENDENDO O BASICO DE PROGRAMAÇÃO COM MINECRAFT</h5>
           
            <a href="#" class="btn btn-primary">aprender</a>
        </div>
    </div>

    <div class="cardcont" style="width: 18rem;">
        <img src="img/mine.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">APRENDENDO INTELIGENCIA ARTIFICIAL COM MINECRAFT</h5>
           
            <a href="#" class="btn btn-primary">aprender</a>
        </div>
    </div>

    <div class="cardcont" style="width: 18rem;">
        <img src="img/mine.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">COMO INSTALAR MINECRAFT E PYTHON PARA PROGRAMAR</h5>
           
            <a href="#" class="btn btn-primary">aprender</a>
        </div>
    </div> 
</div>

<style>
.cardcont3 {
    width: 80%;
    background-color: #ccd5ae;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Creamer', sans-serif;
}

</style>