@page "/python"
@using Microsoft.AspNetCore.Components.Forms

<nav class="navbar">
    <div class="navbar-content">
        <!-- Logo na ponta esquerda -->
        <img src="img/logo.png" alt="Logo" class="navbar-logo" />

        <!-- Lista de navegação na direita -->
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/cadastro">Entrar</a></li>
        </ul>
    </div>
</nav>
<div class="title"> 
    <h1>PYTHON</h1>
</div>

<div class="card-container">
    <div class="cardcont3">
        <h5 class="card-title">O Python é uma linguagem de programação amplamente usada em aplicações da Web, desenvolvimento de software, ciência de dados e machine learning (ML). Os desenvolvedores usam o Python porque é eficiente, fácil de aprender e pode ser executada em muitas plataformas diferentes. O software Python pode ser baixado gratuitamente, integra-se bem a todos os tipos de sistemas e agiliza o desenvolvimento.</h5>
    </div>
</div>

<div class="card-container">
    <div class="cardcont" style="width: 18rem;">
        <img src="img/wxp.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">COMO FAZER UMA CALCULADORA</h5>
           
            <a href="/aprendendopython" class="btn btn-primary">APRENDER</a>
        </div>
    </div>

    <div class="cardcont" style="width: 18rem;">
        <img src="img/wxp.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">COMO FAZER UM JOGO DE XADREZ</h5>
           
            <a href="#" class="btn btn-primary">APRENDER</a>
        </div>
    </div>

    <div class="cardcont" style="width: 18rem;">
        <img src="img/wxp.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">FAZENDO MINHA PRIMEIRA  INTELIGENCIA ARTIFICIAL</h5>
           
            <a href="#" class="btn btn-primary">APRENDER</a>
        </div>
    </div> 
</div>

<style>
.cardcont3 {
    width: 80%;
    background-color: #ccd5ae;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    font-family: 'Creamer', sans-serif;
}

</style>